
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


<div class="w3-top">
  <div class="w3-bar w3-pink w3-wide w3-padding w3-card-3">
    <a routerLink="" href="#projects" class="w3-bar-item w3-button">User</a>
    <a routerLink="about" href="#projects" class="w3-bar-item w3-button">About Me</a>
    <a routerLink="homework" href="#projects" class="w3-bar-item w3-button">Travel</a>
  </div>
</div>
<br><br>
<router-outlet></router-outlet>